@*@model Vidly2.Models.Customer*@
@*@model Vidly2.ViewModels.RandomMovieViewModel*@
@model IEnumerable<Vidly2.Models.Customer>

@{
                /**/

                ViewBag.Title = "Customers";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<p>
    @Html.ActionLink("New Customer", "New", "Customer", null, new { @class = "btn btn-primary" })
</p>

@if (!Model.Any())
{
    <p>We don't have any customers yet</p>
}
else
{
    <table class="table table-bordered table-hover ">
        <thead>
            <tr class="info">
                <th>Customers</th>
                <th>Membership Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>@Html.ActionLink(@customer.Name, "Edit", "Customer", new { id = @customer.ID }, null)</td>
                    <td>@customer.MembershipType.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@*@Model.Name*@
@*@if (Model.Customers.Count == 0)
    {
        <text>We don't have any customers yet.</text>
    }
    else
    {
        <table class="table table-striped table-hover ">
            <thead>
                <tr class="info">
                    <th>Customers</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model.Customers)
                {
                    <tr>
                        <td>@Html.ActionLink(@customer.Name, "Details", "Customer", new { id = @customer.ID }, null)</td>
                    </tr>
                }
            </tbody>
        </table>
    }*@